certifi==2022.9.24 ; python_version >= "3.8" and python_version < "4"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "4"
contourpy==1.0.6 ; python_version >= "3.8" and python_version < "4.0"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "4.0"
fonttools==4.38.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "4.0"
matplotlib==3.6.2 ; python_version >= "3.8" and python_version < "4.0"
numpy==1.23.5 ; python_version >= "3.8" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.8" and python_version < "4.0"
pillow==6.2.2 ; python_version >= "3.8" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.8" and python_version < "4"
seaborn==0.12.2 ; python_version >= "3.8" and python_version < "4.0"
setuptools-scm==7.0.5 ; python_version >= "3.8" and python_version < "4.0"
setuptools==65.6.3 ; python_version >= "3.8" and python_version < "4.0"
snakemake==7.21.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
torch==1.12.1 ; python_version >= "3.8" and python_version < "4.0"
torchmetrics==0.10.3 ; python_version >= "3.8" and python_version < "4.0"
torchvision==0.13.1 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.13 ; python_version >= "3.8" and python_version < "4"
pyyaml==5.4.1 ; python_version >= "3.8" and python_version < "4.0"
pandas==1.5.1 ; python_version >= "3.8" and python_version < "4.0"
